<div id="modal-form" class="modal fade" aria-hidden="true">
  <form (ngSubmit)="newQuestion()" (keydown.enter)="onKeyDown($event)" [formGroup]="newQuestionForm" novalidate>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="m-t-none m-b">Nova questão</h3>
              <p>Crie uma <strong>questão</strong> que é frequentemente perguntada.</p>
              <div class="form-group">
                  <label>Pergunta</label>
                  <input type="text" formControlName="title" placeholder="Digite uma pergunta" class="form-control" required>
              </div>
              <div class="form-group">
                  <label>Resposta</label>
                  <textarea class="form-control" formControlName="description" form="usrform" style="max-width:100%;min-width:100%;min-height:100px;" placeholder="Digite uma resposta aqui..." required></textarea>
              </div>
              <div class="form-group">
                  <label>Tags</label>
                  <input type="text" formControlName="tags" placeholder="Digite tags separadas por vírgula" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</button>
          <button class="btn btn-sm btn-primary" type="submit">
            <strong>Salvar</strong>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>