<div class="home-container">
  <div id="wrapper">
    <div class="gray-bg" style="min-height: 1679px; padding: 30px">
      <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
          <h2>FAQ</h2>
          <ol class="breadcrumb">
            <li class="active">
              <strong>Frequently asked questions</strong>
            </li>
          </ol>
        </div>
        <div class="col-sm-8">
          <div class="title-action">
            <a data-toggle="modal" href="#modal-form" class="btn btn-primary btn-sm">Nova questão</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper wrapper-content">
            <div *ngIf="!questions || questions.length == 0" class="white-bg" style="padding:50px">
              <h1 style="margin-top:0">
                Sem questões
              </h1>
            </div>
            <div class="faq-item" *ngFor="let question of questions; let i = index">
              <div class="row">
                <div class="col-md-8">
                  <a data-toggle="collapse" href="{{'#faq' + (i + 1)}}" class="faq-question collapsed" aria-expanded="false">
                    {{question.title}}
                  </a>
                  <small>Adicionado por
                    <strong>Felipe Miranda</strong>
                    <i class="fa fa-clock-o"></i>&nbsp;{{question.created_at | date:'medium'}}</small>
                </div>
                <div class="col-md-3">
                  <span class="small font-bold" *ngIf="question.tags" style="margin-left:3px">Tags</span>
                  <div class="tag-list" style="margin-top:5px">
                    <span class="tag-item" *ngFor="let tag of question.tags" style="margin-left:3px">{{tag}}</span>
                  </div>
                </div>
                <div class="col-md-1">
                  <button (click)="removeQuestion(question.id)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div id="{{'faq' + (i + 1)}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="faq-answer">
                      <p>
                        {{question.description}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-addmodal (question-created)="onQuestionCreated($event)"></app-addmodal>
</div>
